<app-menu></app-menu>
<div class="background">
    <div class="container">
      <div class="row pt-5">
        <div class="col-6">
          <h1 class="cadastro mb-0">Veja a lista de Projetos</h1>
        </div>
        <div class="col-6" style="display: flex; justify-content: flex-end;">
            <button mat-raised-button color="accent" routerLink="/novoProjeto">Novo Projeto</button>
        </div>
      </div>

      <div class="row mt-5">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel multi *ngFor="let projeto of projetos">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{projeto.nome | uppercase}}
                </mat-panel-title>
                <mat-panel-description>
                  {{projeto.descricao}}
                  <div>
                    <button matTooltip="Editar Projeto">
                        <mat-icon (click)="editarProjeto(projeto)">edit</mat-icon></button>
                    <button matTooltip="Adicionar Tarefa">
                        <mat-icon (click)="adicionarTarefa(projeto)">add</mat-icon></button>
                    <button matTooltip="Deletar Projeto">
                        <mat-icon (click)="deletarProjeto(projeto)">delete</mat-icon></button>
                </div>
                  
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div *ngFor="let tarefa of projeto.tarefas" class="row justify-content-between">
                <div class="col-4"><p>{{tarefa.titulo}}</p></div>
                <div class="d-flex justify-content-between col">
                <p style="text-align: left;">{{tarefa.descricao}}</p>
                <div>
                    <button matTooltip="Editar Tarefa">
                        <mat-icon (click)="editarTarefa(tarefa)">edit</mat-icon></button>
                    <button matTooltip="Deletar Tarefa">
                        <mat-icon (click)="deletarTarefa(tarefa)">delete</mat-icon></button>
                </div>
                </div>
            </div>
            </mat-expansion-panel>
          </mat-accordion>
      </div>
    </div>
  </div>
  